@keyframes scroll {
    0% {
      transform: translateX(0);
    }
  
    100% {
      transform: translateX(calc(-500px * 7));
    }
  }
  
  .slider {
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    margin: 10px auto; /* Reduced top/bottom margin */
    position: relative;
    width: 2200px;
    overflow: hidden;
  }
  
  .slider::before,
  .slider::after {
    content: "";
    position: absolute;
    width: 200px;
    z-index: 2;
  }
  
  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  
  .slider::before {
    left: 0;
    top: 0;
  }
  
  .slide-track {
    animation: scroll 80s linear infinite;
    display: flex;
    gap: 10px;
    width: max-content;
  }
  
  .slide {
    width: 15vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .slide img {
    width: 110%;
    height: 120%;
    object-fit: cover;
  }
  
  @media screen and (max-width: 480px) {
    .slide {
      width: 100vw;
    }
  
    .slide-track {
      animation: scroll 100s linear infinite;
      display: flex;
      gap: 10px;
    }
  
    @keyframes scroll {
      0% {
        transform: translateX(0);
      }
  
      100% {
        transform: translateX(calc(-500px * 7));
      }
    }
  }
  